[Unit]
Description=Start SPOT script

[Service]
Type=oneshot
ExecStart=/bin/sh -c "source /home/pi/SPOT/venv/bin/activate; python /home/pi/SPOT/py/traversal.py"

[Install]
WantedBy=multi-user.target
